<section class="section">
  <div class="content">
    <div class="inline">
      <img class="icon" [src]="icon" />
      <h1 class="f-rt f-xl">{{ title }}</h1>
    </div>
    <p class="f-rt f-l" innerHTML="{{ subtitle }}"></p>
  </div>
</section>
