/* Atomic CSS approach */

* {
    padding: 0;
    margin: 0; 
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../assets/fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-style: normal;
    font-weight: 100;
}

.f-rt {
    font-family: 'Roboto';
}

.f-l {
    font-size: 4vw;
}

.f-xl {
    font-size: 10vw;
    font-weight: 100;
}

.f-s {
    font-size: calc(5px + 1vw);
}

.section {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 56.25vw;
    width: 100vw;

    max-width:100%;

    .content {
        width: 63vw;
        text-align: center;
    }

    .icon {
        width: 12vw;
        height: 12vw;
        margin-right: 1vw;
    }

    animation: fadein 0.5s ease-in;
}

footer {
    text-align: center;
    padding: 10px;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    color:#2196F3;
    text-decoration: none;
    border-bottom: dotted #2196F3;
    font-weight: bold;
}

a:hover {
    color: #2196F3;
    font-weight: bold;
    border-bottom: solid #2196F3;
}

// Animations
@keyframes fadein {
    from { 
        opacity: 0;
    }
    to   { 
        opacity: 1;
    }
}

// Responsiveness
@media (orientation: landscape) {
    .section {
        height: 100vh;
        width: 100vw;
        min-height: 45vw;
    }
}