<div class="sections">
  <app-title-section
    title="Hi, I am Sašo"
    subtitle="Check my creations below"
  ></app-title-section>
  <app-product-section
    icon="assets/img/4Note.png"
    title="4Note"
    subtitle="Beautiful, simple to use, <b>sticky notes widget</b> application available for free on <a href='https://play.google.com/store/apps/details?id=com.smark.fornote&hl=en' target='_blank'>Google Play store</a>."
  ></app-product-section>
  <app-product-section
    icon="assets/img/RunFest.png"
    title="RunFest"
    subtitle="Offline GPS based <b>running app</b> to improve your running skills available for free on <a href='https://play.google.com/store/apps/details?id=com.smark.runfest&hl=en' target='_blank'>Google Play store</a>."
  ></app-product-section>
  <app-product-section
    icon="assets/img/Drinkaton.png"
    title="Drinkaton"
    subtitle="<b>Drinking game</b> based on randomly generated numbers available for free on <a href='https://play.google.com/store/apps/details?id=smark.drinkatron&hl=en' target='_blank'>Google Play store</a>."
  ></app-product-section>
  <app-product-section
    icon="assets/img/Website.svg"
    title="Website"
    subtitle="This <b>presentation website</b> written in angular, with publicly available code on <a href='https://gitlab.com/sasom/presentationpage' target='_blank'>GitLab</a>."
  ></app-product-section>
  <app-contact-section
    title="Get in touch"
    email="saso.smark@gmail.com"
  ></app-contact-section>
  <app-curve [nOfSections]="6"></app-curve>
</div>
